[submodule "zeromq-db"]
	path = work.zeromq-db
	url = https://subproject.org/tino/zeromq-db.git
[submodule "zeromq-puzzle"]
	path = work.zeromq-puzzle
	url = https://subproject.org/tino/zeromq-puzzle.git
[submodule "zeromq-shell"]
	path = work.zeromq-shell
	url = https://subproject.org/tino/zeromq-shell.git
