*.wiki/
checkrun/
cmpfast/
count/
dbm/
ddrescue-verify/
dirlist/
diskus/
gitstart/
histogram/
kdmktone/
keypressed/
killmem/
md5chk/
misc/
mvatom/
nonblocking/
printansi/
printargs/
ptybuffer/
slowdown/
socklinger/
sq/
tino-bin/
tinohtmlparse/
tinolib/
tinoseq/
unbuffered/
shellshock/
speedtests/
